RUSTFS_HOST=
RUSTFS_CONSOLE_HOST=

RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_CONSOLE_ENABLE=
RUSTFS_UNSAFE_BYPASS_DISK_CHECK=

RUSTFS_OBS_ENDPOINT=
RUSTFS_OBS_SERVICE_NAME=
RUSTFS_OBS_ENVIRONMENT=
RUSTFS_OBS_METRICS_EXPORT_ENABLED=
RUSTFS_OBS_LOGS_EXPORT_ENABLED=
RUSTFS_OBS_TRACES_EXPORT_ENABLED=