.git
.idea
.vscode
.fleet
.DS_Store
*.md
!readme.md

.junie
.cursor
.ai
.mcp.json
boost.json
CLAUDE.md
AGENTS.md
ci-recs.md
.phpunit.cache
.phpunit.result.cache

node_modules
vendor

.env
.env.*
!.env.example
!.env.testing.example
auth.json
storage/*.key
storage/secrets

public/build
public/admin
public/hot
public/storage

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/media-library
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore

bootstrap/cache/*.php
!bootstrap/cache/.gitignore

docker-compose.yml
docker-compose.*.yml
docker-compose.override.yml
Makefile
process-env.sh
process-compose-file.sh
wait-for-it.sh
Homestead.json
Homestead.yaml

docs
pint.json

npm-debug.log
yarn-error.log
*.log
